<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onLogin()">
    
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input type="text" [(ngModel)]="user" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Entrar</ion-button>

  </form>
</ion-content>
